body {
  margin: 0;
  text-align: center;
  font-family: "Roboto", Sans-serif;

}
.singUp_container {
  right: 25%;
  height:100%;
  background-color: #e5e3e3;
  width: 50%;
  position: fixed;
  border-right: 3px solid #c4131d;
  border-left: 3px solid #c4131d;
  padding-top: 5%;

}

.inputText {
  width: 45%;
  box-sizing: border-box;
  border: 1px solid #c4131d;
  border-radius: 5px;
  font-size: 100%;
  background-color: #e5e3e3;
  padding: 1% 5% 1% 5%;
  height: 50px;
  font-family: "Roboto", Sans-serif;
}

.Button {
  background-color: #e5e3e3;
  color: #c4131d;
  font-family: "Roboto", Sans-serif;
  font-weight: 600;
  border: 2px solid #c4131d;
  font-size: 15px;
  padding: 12px 24px;
  border-radius: 5px;
}
.Button:hover {
  background-color: #c4131d;
  color: #ffffff;
  border-color: #c4131d;
}
.return {
  width: 50%;
}
.logo {
 width: 25%;

}
.footerWarp {
  color: #c4131d;
  position: fixed;
  bottom: 0;
  width: 50%;
}

@media screen and (max-width:1500px) {
  .singUp_container {
    right: 0;
    width: 100%;
    border-width: 0;
    overflow: auto;

  }
  .inputText{
    width: 90%;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  .logo {
    width: 20%;
  }
  .footerWarp{
  
    width: 100%;

  }
}