body {
  margin: 0;
  text-align: center;
  font-family: "Roboto", Sans-serif;

}
.container {
  right: 25%;
  height:100%;
  background-color: #e5e3e3;
  width: 50%;
  position: fixed;
  border-right: 3px solid #c4131d;
  border-left: 3px solid #c4131d;
  padding-top: 5%;

}
.Button {
  background-color: #e5e3e3;
  color: #c4131d;
  font-family: "Roboto", Sans-serif;
  font-weight: 600;
  border: 2px solid #c4131d;
  font-size: 15px;
  padding: 12px 24px;
  border-radius: 5px;
  width: 50%;

}
.Button:hover {
  background-color: #c4131d;
  color: #ffffff;
  border-color: #c4131d;
}
.logo {
 width: 25%;

}
.footerWarp {
  color: #c4131d;
  position: fixed;
  bottom: 0;
  width: 50%;
}
.Thanks{
  padding-top: 150px;
}

@media screen and (max-width:1500px) {
  .container {
    right: 0;
    width: 100%;
    border-width: 0;
    overflow: auto;
  }
  .logo {
    width: 20%;
  }
  .Thanks{
    padding-top: 200px;

  }
  .footerWarp {
    width: 100%;
  }

}
@media screen and (max-width:600px) {
  .container {
    right: 0;
    width: 100%;
    border-width: 0;
    overflow: auto;
  }
  .logo {
    width: 20%;
  }
  .Thanks{
    padding-top: 125px;

  }
  .footerWarp {
    width: 100%;
  }
}